

.menuItem{
    font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	text-decoration: none;
	color: gray;
	text-transform: uppercase;
	padding: 0 20px;
	display: block;
}
.menuItem:hover{
    transition: 1s;
    color: crimson;
    /* border-bottom:2px solid crimson; */
    /* height: 2px; */
}

.btn-hireMe{
    font-size: 14px;
    color: white;
    padding: 5px 15px;
    background-color: crimson;
}
.btn-hireMe:hover{
    padding: 5px 15px;
    transition: 1s;
    background-color: rgb(5, 177, 119);
    background-color: none;
}
